.load-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 128px;

  text-transform: uppercase;
  border-radius: 40px;
  margin-bottom: 75px;
  background-color: #fafafa;
  box-shadow: 0 0px 2px rgba(0,0,0, 0.55);

  transition: all 0.3s ease-out;
}

.load-button:hover {
  box-shadow: inset 0 0 0 1px rgba(0,0,0, 0.25),0 0px 10px rgba(0,0,0, 0.55);
}



.switch-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: 20px;
  background-color: transparent;
  transition: all 0.3 ease;
}

.switch-button:hover,
.switch-button:active {
  outline:  #3b8ede;;
}