.card {
  display: flex;
  background-color: #fff;
  height: 95px;
  box-sizing: border-box;
  z-index: 10;


  &__img {
    margin-right: 34px;
    width: 95px;
   
    @media only screen and (max-width: 400px) {
      margin-right: 0px;
   }
  } 

  &-title{
    margin-top: 18px;

    @media only screen and (max-width: 600px) {
      margin-top: 0;
   }
  }

  &__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 90px;

    @media only screen and (max-width: 680px) {
      margin-right: 0;
    }

    @media only screen and (max-width: 600px) {
      flex-direction: column;
      margin: 7px 0px;
      align-items: flex-end;
      margin-right: 10px;
   }

    &-today,
    &-date,
    &-upload {
      display: flex;
      flex-direction: column;
      margin-left: 15px;
      font-weight: 700;

      @media only screen and (max-width: 600px) {
        flex-direction: row;
        font-weight: 600;
      }
    }

    &-panel {
      display: flex;
      margin-top: 14px;

      @media only screen and (max-width: 600px) {
        margin-top: 0;
     }
    }

    &-likes {
      margin-right: 20px;
    }

    &-likes,
    &-comments {
      display: flex;
      align-items: center;
    }

    &-count {
      margin-left: 5px;
    }
  }
}

.card-square {
  display: flex;
    flex: 1 1 292px;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 100%;
    z-index: 10;

  &__img-container {
    position: absolute;
    overflow: hidden;
  }

  &__info {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 25px;
    z-index: 10;
    color: #fff;
    font-weight: 700;
    justify-content: center;
  
    &-today,
    &-date {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
    }

    &-upload {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 18px;
     
    }

    &-title{
      margin-top: 18px;
    }

    &-panel {
      display: flex;
    }
  
    &-likes {
      margin-right: 20px;
    }

    &-likes,
    &-comments {
      display: flex;
      align-items: center;
    }

    &-img {
      margin-right: 7px;
    }
  }
}
 